header {
    padding: 14px 0;
    background-color: white;
    
    }
  header .container {
  max-width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  header .container img { 
    width: 4.5rem;
  }
  header ul { 
    display: flex;
  }
  header li { 
    display: flex;
    margin: 0 10px;
    font-size: 12px;
    font-weight: bold; 
}

.jumbo{
  height: 300px;
  background-image: url('/images/jumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
