
.main{
    background-color: $main-black;

    .container{
        max-width: 70%;
        height: auto;
        margin: 0 auto;
    }

    .card-container{

        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .card{
            width: 15%;
            padding: 1rem;
            text-align: center;
            color: white;
        }

    }


}